.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	padding-bottom: 3px;
	padding-top: 2px;
	background-color: lightgrey;
}
.navbar {
	background-color: lightgrey;
	text-align: center;
}
.navbar a{
	padding-left: 5px;
	padding-right: 5px;
}
.pageHead {
	text-align: center;
}
.indexIntro {
	text-align: center;
}
.loginForm {
	text-align: center;
}
.signupInfo {
	text-align: center;
}
