{% extends 'base.html' %}
{% block content %}

<h1 class="pageHead">{{ trip }}</h1>
<div class="packView">
	<h1>{{pack.name}}</h1>
	<p style="font-weight:bold;">Total Space: {{pack.size}} || Used Space: {{pack.current_volume}} || Remaining Space: {{pack.remaining_volume}}</p>
</div>
<div class="packingScreen">
	<div class="itemsList">
		<div class="oneItem" style="border:none;">
		<div class="itemName">Name</div><div class="itemSize">Size</div><div class="itemCount">Count</div>Remove
		</div>
		<hr />
		{% for each in packed_items %}
			<div class="oneItem">
				<div class="itemName">{{each.item}}</div>
				<div class="itemSize">{{each.item.size}}</div>
				<div class="itemCount">{{each.count}}</div>
				<a class="remove" href='/unpack_item/{{pack.id}}/{{each.id}}/'>x</a>
			</div>
		{% endfor %}
	</div>
	<div class="itemsList">
		<div class="oneItem" style="border:none;">
		<div class="itemName">Name</div><div class="itemSize">Size</div>Add
		</div>
		<hr />
		{% for item in all_items %}
			<div class="oneItem">
				<div class="itemName">{{item}}</div>
				<div class="itemSize">{{item.size}}</div>
				<a class="add" href='/pack_item/{{pack.id}}/{{item.id}}/'>+</a>
			</div>
		{% endfor %}
	</div>
</div>
{% endblock %}