{% extends 'base.html' %}
{% block content %}

<h1 class="pageHead">BACKPACKS</h1>
{% for pack in packs %}
	<div class="singlePack">
		<p><a href='/backpacks/{{pack.id}}'>{{pack.name}}</a> <a style="float:right;color:red;" href="/delete_pack/{{pack.id}}">X</a></p>
		<p>Total Pack Space: {{pack.size}}</p>
		<p>Remaining Space: {{pack.remaining_volume}}</p>
	</div>
{% endfor %}

<hr />
<h2 class="pageHead">Create New Backpack</h2>
	<form method="POST" action="/create_pack/" class="backpackForm">
		{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" value="Create" />
	</form>
{% endblock %}